/* fonts.css */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:wght@700&display=swap");

.header {
  justify-content: center;
  text-align: center;
  color: #f1f2f9;
  font-size: 48px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 56px;
}

.swiper-container {
  position: relative;
}

.swiper-button-prev,
.swiper-button-next {
  margin-right: 50px;
  // position: absolute;
  top: 50%;
  width: 32px; /* Ширина іконки */
  height: 400px; /* Висота іконки */
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 10;
  background: none; /* Приховує фонове зображення стандартних кнопок */
}

.swiper-button-prev {
  // position:fixed;
  top: 80%;
  left: -4%;
  // border: 5px solid white;
  background-color: #323542;
  width: 32px;
  height: 100%;
}

.swiper-button-next {
  right: 10px;
  top: 80%;
  right: -9%;
  // border: 5px solid white;
  background-color: #323542;
  width: 32px;
  height: 100%;
}

.swiper-button-prev img,
.swiper-button-next img {
  position: relative;
  width: 16px;
  height: 16px;
  border-radius: 5px;
}

/* Приховує стандартні кнопки Swiper */
.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}

@media (min-width: 640px) and (max-width: 1199px) {
  .swiper-container {
    position: relative;
    width: 592px;
    height: 221px;
    top: 224px;
    left: 24px;
    gap: 0px;
    opacity: 0px;
  }

  .swiper-button-prev,
  .swiper-button-next {
    width: 32px;
    height: 198px;
  }
}

@media (min-width: 1200px) {
  .swiper-container {
    position: relative;
    width: 1136px;
    height: 432px;
    margin-bottom: 150px;
  }
}

@media (min-width: 320px) and (max-width: 639px) {
  .swiper-container {
    width: 320px;
    height: 352px;
    top: 178px;
    gap: 0px;
    opacity: 0px;
  }

  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }

}
