@import "../../styles/utils/mixins";

.swiper__prev,
.swiper__next {
  display: none;
}

.swiper__pagination {
  position: absolute;
  display: flex;
  justify-content: center;
  gap: 10px;
  text-align: center;
  transform: translateZ(0);
  transition: opacity 0.3s;
  z-index: 10;
  bottom: -25px !important;
  // border: 1px solid red;
}

.swiper-pagination-bullet {
  // position: absolute;
  width: 14px;
  height: 4px;
  background: gray; /* default color for inactive bullets */
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: #e5e5ea; /* color for active bullet */
}

.swiper {
  max-width: 320px;
  max-height: 320px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 50px;

  @include on-tablet {
    max-width: 590px;
    max-height: 190px;

    .overlayImage {
      width: 25px;
      height: 25px;
      transform: translate(0%, 13vh);
      padding-top: 8px;
    }

    .swiper__prev {
      position: absolute;
      top: 0;
      display: flex;
      left: -50px;
      background-color: #323542;
      width: 25px;
      height: 100%;
    }

    .swiper__next {
      background-color: #323542;
      position: absolute;
      top: 0;
      display: flex;
      width: 25px;
      height: 100%;
      right: -50px;
    }
  }

  @include on-desktop {
    max-width: 1040px;
    max-height: 400px;

    .overlayImage {
      width: 25px;
      height: 25px;
      transform: translate(0%, 30vh);
    }

    .swiper__prev {
      position: absolute;
      top: 0;
      display: flex;
      left: -50px;
      background-color: #323542;
      width: 25px;
      height: 100%;
    }

    .swiper__next {
      background-color: #323542;
      position: absolute;
      top: 0;
      display: flex;
      width: 25px;
      height: 100%;
      right: -50px;
    }
  }

  &__slide {
    width: 320px;
    height: 320px;
    display: grid;
    display: flex;
    border-radius: 15px;

    @include on-tablet {
      width: 490px;
      height: 190px;
    }

    @include on-desktop {
      width: 1040px;
      height: 400px;
    }
  }

  &__wrapper {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    border-radius: 15px;

    &--1 {
      background-color: black;
    }

    &--2 {
      background-color: black;
    }

    &--3 {
      background-color: black;
    }
  }

  &__image {
    background-size: contain;
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 8px;
    background-repeat: no-repeat;
    background-position: center;

    &--1 {
      background-image: url("../../images/icons/firstSlide.png");

      @include on-tablet {
        background-image: url("../../images/icons/Banner.png");
        background-position: right;
        background-size: cover;
        width: 50%;
        border-radius: 0 8px 8px 0;
      }
    }

    &--2 {
      background-image: url("../../images/icons/Apple_iPhone_15_Pro.webp");
      background-position: bottom;
    }

    &--3 {
      background-image: url("../../images/icons/cameraIphone.webp");
      background-size: cover;
    }
  }
}

.main {
  display: flex;
  flex-direction: column;
  gap: 24px;

  &__title {
    color: #f1f2f9;
    font-size: 32px;
    font-weight: 700;
    line-height: 41px;
    letter-spacing: -0.01em;
    padding: 0 16px;

    @include on-tablet {
      font-size: 48px;
      line-height: 56px;
      padding: 0 24px;
      letter-spacing: 0.01em;
    }
  }
}
