.newModels__brand {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;

  &-title {
    font-family: "Mont", sans-serif;
    font-size: 32px;
    font-weight: 800;
    line-height: 41px;
    letter-spacing: -0.01em;
    text-align: left;
    color: #f1f2f9;
  }
}

.buttonsSlider {
  display: flex;
  align-items: center;
  gap: 16px;

  &__left,
  &__right {
    width: 32px;
    height: 32px;
    border: none;
  }
}

.productsList {
  display: flex;
  gap: 16px;

  .swiper {
    width: 100vw;
  }

  .swiper-slide {
    max-width: 272px;
  }
}
