@import "../../styles/utils/mixins";

.section {
  @include content-padding-inlain();

  &__title {
    font-size: 32px;
    margin-bottom: 24px;
    color: #f1f2f9;
  }
}

.category {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;

  @media (min-width: 640px) {
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 64px;
  }

  @media (min-width: 1200px) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
    width: 1136px;
    height: 508px;
  }

  &__image {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;

    &--tablets {
      @include my-hover(transform, scale(1.1));
    }
  }

  &__photo {
    margin-bottom: 24px;
    aspect-ratio: 1 / 1;
    overflow: hidden;

    &:hover > .category__image {
      @include my-hover(transform, scale(1.1));
    }

    &--phones {
      background-color: bisque;
    }

    &--tablets {
      background: #8b8b90;
    }

    &--accessories {
      background: #973d5f;
    }
  }

  &__title {
    font-size: 20px;
  }

  &__text {
    color: gray;
  }
}
