* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
*::before,
*::after {
  display: inline-block;
}

html,
body {
  height: 100%;
}
body {
  line-height: 1;

  //text-rendering: optimizeLegibility;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
input,
button,
textarea {
  font-size: inherit;
  line-height: inherit;
}
button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,800;1,800&display=swap");

.header {
  width: 100%;
  background-color: #0f1121;
  position: relative;
  left: 0;
  right: 0;
  z-index: 50;
  border-bottom: 1px solid #75767f;

  &__content {
    display: flex;
    align-items: center;
    max-height: 64px;

    @media (max-width: 1199px) {
      max-height: 48px;
    }
  }
  &__icon {
    display: none;
    width: 14px;
    height: 8.5px;
    position: relative;
    z-index: 60;
    cursor: pointer;

    span {
      position: absolute;
      top: calc(50% - 0.7px);
      left: 0;
      width: 100%;
      height: 1.4px;
      background-color: #f1f2f9;
      border-radius: 40px;

      &:first-child {
        top: 0;
      }
      &:last-child {
        top: auto;
        bottom: 0;
      }
    }
  }
}
@media (max-width: 639px) {
  .header__icon {
    position: relative;
    left: 0;
  }
}

// .header__container {
//   // padding: 0 24px;
//   // max-width: 1150px;
//   // margin: 0 auto;
// }

.navbar {
  gap: 64px;
  font-size: 20px;
  display: flex;
  margin-left: 24px;

  @media (max-width: 1199px) {
    gap: 32px;
  }

  @media (max-width: 639px) {
    position: fixed;
    top: 0;
    left: -30px;
    right: 0;
    height: 100%;
    width: 110%;
    padding: 100px 30px 30px;
    background-color: #0f1121;
    flex-direction: column;
    align-items: center;
  }
}

.nav__link {
  color: #75767f;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  line-height: 11px;
  position: relative;
  transition: all 0.3s;

  &:hover {
    color: #f1f2f9;
    &::after {
      position: absolute;
      content: "";
      top: 33px;
      background-color: #f1f2f9;
      width: 100%;
      height: 3px;
      left: 0;
      right: 0;
      @media (max-width: 1199px) {
        top: 25px;;
      }
    }
  }
}

.logo {
  width: 120px;
  height: auto;
  position: relative;
  z-index: 60;

  @media (max-width: 1199px) {
    width: 80px;
  }
}

.buttons {
  margin-left: auto;
  display: flex;
}

.cart_and_like {
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  @media (max-width: 1199px) {
    width: 48px;
    height: 48px;
  }
  &:first-child {
    border-left: 1px solid #75767f;
    border-right: 1px solid #75767f;
  }
}
