.buttonsSlider {
  display: flex;
  align-items: center;
  gap: 16px;

  &__left,
  &__right {
    width: 32px;
    height: 32px;
    border: none;
  }
}

.productsList {
  display: flex;
  gap: 16px;

  .swiper {
    width: 100vw;
  }

  .swiper-slide {
    max-width: 272px;
    width: 272px;
  }
}
