* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.pageMain {
  max-width: 1136px;
  margin: 0 auto;
}
.light {
  background-color: #f1f2f9;
  color: #0f1121;
}
.dark {
  background-color: #0f1121;
  color: #f1f2f9;
}
