* {
  margin: 0;
  padding: 0;
}
.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: inherit;
}

.pageMain {
  flex: 1;
  padding: 20px;
}

.light {
  background-color: #f1f2f9;
  color: #0f1121;
}
.dark {
  background-color: #0f1121;
  color: #f1f2f9;
}
